<%- include('adminlayout/adminheader.ejs') %>

<body>


  <section id="sidebar" class="hide">
    <a href="#" class="brand">Ours.</a>
    <ul class="side-menu " style="padding: 0%;">
      <li><a href="/admin/dashboard" class=""><i class='bx bx-bar-chart-square icon'></i> Dashboard</a></li>

      <li>
        <a href="/admin/products" ><i class='bx bx-receipt icon'></i> Products </a>
      </li>
      <li><a href="/admin/customers"><i class='bx bx-group icon'></i> Customer </a></li>
      <li> <a href="/admin/orders" ><i class='bx bx-box icon'></i> Orders </a></li>
   
      <li><a data-bs-toggle="modal" data-bs-target="#Modalsignout" ><i
        class='bx bx-log-out icon'></i> SignOut</a></li>

  </section>

  <section id="content">
    <nav>
      <i class='bx bx-menu toggle-sidebar'></i>
      <h5 class="title">Coupons</h5>
      <form action="#">
        <div class="form-group search">
          <input type="text" placeholder="Search...">
          <i class='bx bx-search icon'></i>
        </div>
      </form>
      <a href="#" class="nav-link">
        <i class='bx bx-bell icon'></i>
        <span class="badge"></span>
      </a>
      <span class="divider"></span>
      <div class="profile">
        <img
          src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
    </nav>
    <div class="container-fluid bg-light mt-3" style="width: 93%; border-radius: 8px; align-items: center; display: block;">
      <!-- For demo purpose -->



      <div class="container">
        <div class="row">
          

          <div class="mt-2 d-flex justify-content-end align-item-center " style="width: 96%;">
            <button type="button" class="btn btn-dark btn-floating p-1 " data-bs-toggle="modal" data-bs-target="#couponModal">
              Create Coupon
             </button>
          </div>

          <div class="col-lg-11 mx-auto bg-white rounded shadow mt-3 " style="width: 90%;">
            <!-- Fixed header table-->
            <div class="table-responsive">
              <table class="table table-responsive table-fixed">
                <thead>
                  <tr>
                    <th scope="col" class="col">No</th>
                    <th scope="col" class="col">Name</th>
                    <th scope="col" class="col">Type</th>
                    <th scope="col" class="col">Discount</th>
                    <th scope="col" class="col">Min-Purchase</th>
                    <th scope="col" class="col">Expiry</th>
                    <th scope="col" class="col">Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                 <% coupons.forEach((coupon,index)=>{ %>   
                    <tr>
                        <td scope="col" class="col-1"><%=index+1%></td>
                        <td scope="col" class="col-3"><%=coupon.code%></td>
                        <td scope="col" class="col-3"><%=coupon.type%></td>
                        <%if (coupon.type==="OFF"){%>
                          <td scope="col" class="col-3"><%=coupon.discount%>%</td>
                       <% }else{%>
                        <td scope="col" class="col-3"><%=coupon.discount%></td>
                        <%}%>
                        <td scope="" class="col-3">₹ <%=coupon.min%></td>
                        
                        <td scope="" class="col-3"><%=coupon.expiry.toISOString().slice(0, 10)%></td>
                        
                        <td scope="col" class="col-3">
                            
                                <div class="d-flex">
                                    <div class="d-flex ">
                                      <p class="mx-2 mt-1"><i class="bx bxs-edit" style="color: rgb(206, 132, 63);"
                                          data-bs-toggle="modal" data-bs-target="#modaleditcoupon<%= coupon._id %>"></i></p>
                                    </div>
                                                                <div>
                                    <form action="/admin/unlist-coupon/<%=coupon._id%>" method="post">
                                                              <button type="submit" class="btn btn-<%= coupon.isDeleted ? 'danger' : 'success' %> p-1 rounded" style="width: 70px;">
                                    <%= coupon.isDeleted ? 'Unlist' : 'List' %>
                                                              </button>
                                                            </form>
                                                                </div>
                                </div>
                        </td>
                       
                    </tr>
                    <%})%>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
    
  </section>

  <% coupons.forEach((coupon,index)=>{ %>   

  <div class="modal fade" id="modaleditcoupon<%= coupon._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form action="/admin/update-coupon/<%=coupon._id%>" method="post">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-white" id="exampleModalLabel">Update Coupon</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body w-100 d-flex align-item-center justify-content-center ">
            <div class="w-75">
              <div class="d-flex  justify-content-between mt-1">
                <label for="code">Coupon Name</label>
                <input type="text" name="code" id="" value="<%=coupon.code%>">
              </div>
              <div class="d-flex  justify-content-between mt-1">
                <label for="code">Coupon Type</label>
                <input type="text" name="type" id="" value="<%=coupon.type%>">
              </div>

              <div class="d-flex  justify-content-between mt-1">
                <label for="code">Min-Purchase</label>
                <input type="text" name="min" id="" value="<%=coupon.min%>">
              </div>
              
              <div class="d-flex  justify-content-between mt-1">
                <label for="expiry">Coupon Expiry</label>
                <input type="date" name="expiry" value="<%=coupon.expiry.toISOString().slice(0, 10)%>" id="">
              </div>
              <div class="d-flex  justify-content-between mt-1">
                <label for="discount">Discount</label>
                <input type="tel" name="discount" id="" value="<%=coupon.discount%>">
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
      
            <button type="submit" class="btn btn-dark">Save Changes</button>
          </div>
        </div>
    </form>
    </div>
  </div>
  <%})%>


<!-- /// create-coupon -->

   <!-- Modal -->
   <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form action="/admin/create-coupon" method="post">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-white" id="exampleModalLabel">Create Coupon</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body w-100 d-flex align-item-center justify-content-center ">
            <div class="w-75">
              <div class="d-flex  justify-content-between mt-1">
                <label for="code">Coupon Name</label>
                <input required type="text" name="code" id="">
              </div>
              <div class="d-flex  justify-content-between mt-1">
                <label for="code">Coupon Type</label>
                <input required type="text" name="type" id="">
              </div>
              <div class="d-flex  justify-content-between mt-1">
                <label for="expiry">Coupon Expiry</label>
                <input required type="date" name="expiry" id="">
              </div>
              <div class="d-flex  justify-content-between mt-1">
                <label for="discount">Discount</label>
                <input required type="tel" name="discount" id="">
              </div>
              <div class="d-flex  justify-content-between mt-1">
                <label for="min">Min-Purchase</label>
                <input required type="tel" name="min" id="">
              </div>
              <!-- <div class="d-flex  justify-content-between mt-1">
                <label for="min">Category</label>
                <input required type="tel" name="min" id="">
              </div> -->
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
      
            <button type="submit" class="btn btn-dark">Save Coupon</button>
          </div>
        </div>
    </form>
     
    </div>
  </div>


 

  <%- include('adminlayout/adminfooter.ejs') %>