<%- include('adminlayout/adminheader.ejs') %>

<body>
  <% const usersdata = users%>

  <%-include('adminlayout/modals.ejs',{usersdata})%>

  <section id="sidebar" class="hide">
    <a href="#" class="brand">Ours.</a>
    <ul class="side-menu " style="padding: 0%;">
      <li><a href="/admin/dashboard" class=""><i class='bx bx-bar-chart-square icon'></i> Dashboard</a></li>

      <li>
        <a href="/admin/products" ><i class='bx bx-receipt icon'></i> Products </a>
      </li>
      <li><a href="#" class="active"><i class='bx bx-group icon'></i> Customer </a></li>
      <li> <a href="/admin/orders" ><i class='bx bx-box icon'></i> Orders </a></li>
   
      <li><a data-bs-toggle="modal" data-bs-target="#Modalsignout" ><i
        class='bx bx-log-out icon'></i> SignOut</a></li>

  </section>

  <section id="content">
    <nav>
      <i class='bx bx-menu toggle-sidebar'></i>
      <h5 class="title">Customer</h5>
      <form action="#">
        <div class="form-group search">
          <input type="text" placeholder="Search...">
          <i class='bx bx-search icon'></i>
        </div>
      </form>
      <a href="#" class="nav-link">
        <i class='bx bx-bell icon'></i>
        <span class="badge"></span>
      </a>
      <span class="divider"></span>
      <div class="profile">
        <img
          src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
    </nav>
    <div class="container-fluid bg-light mt-3" style="width: 93%; border-radius: 8px; align-items: center; display: block;">
      <!-- For demo purpose -->



      <div class="container">
        <div class="row">
          <div class="col-lg-11 mx-auto bg-white rounded shadow mt-3 " style="width: 90%;">
            <!-- Fixed header table-->
            <div class="table-responsive">
              <table class="table table-responsive table-fixed">
                <thead>
                  <tr>
                    <th scope="col" class="col">No</th>
                    <th scope="col" class="col">Customer</th>
                    <th scope="col" class="col">Email</th>
                    <!-- <th scope="col" class="col">Roles</th> -->
                    <th scope="col" class="col">Status</th>
                    <th scope="col" class="col">Actions</th>
                    
                  </tr>
                </thead>
                <tbody>
                 <% users.forEach((user,index)=>{ %>   
                    <tr>
                        <td scope="col" class="col-1"><%=index+1%></td>
                        <td scope="col" class="col-3"><%=user.name%></td>
                        <td scope="col" class="col-3"><%=user.email%></td>
                        <!-- <td scope="col" class="col-3">
                          <!-- <form action="/admin/updaterole/<%=user._id%>" method="post">
                            <input type="hidden" name="userId" value="<%=user._id%>">
                            <button type="submit" class="btn btn-<%= user.isAdmin ? 'success' : 'danger' %> p-1 rounded" style="width: 60px;">
                              <%= user.isAdmin ? 'Admin' : 'User' %>
                            </button>
                          </form> -->
                        </td> 
                        <td scope="col" class="col-3"><form action="/admin/updatestatus/<%=user._id%>" method="post">
                          <input type="hidden" name="userId" value="<%= user._id %>">
                          <button type="submit" class="btn btn-<%= user.isBlocked ? 'danger' : 'success' %> p-1 rounded" style="width: 70px;">
                            <%= user.isBlocked ? 'Blocked' : 'Active' %>
                          </button>
                        </form></td>
                        <td scope="col" class="col-3">
                           
                            <a data-bs-toggle="modal" data-bs-target="#Modaluserdlt" href=""  class="p-1 m-3"><i class=" bx bxs-trash-alt "></i> </a> 
                        </td>
                    </tr>
                    <%})%>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
    
  </section>



 

  <%- include('adminlayout/adminfooter.ejs') %>