<%- include('layout/header.ejs')%> <%- include('layout/navbar.ejs')%>
    <%-include('layout/usermodals.ejs')%>
      <div class="d-block w-100">

        <div class="product-section w-100">
          <div class="container-fluid d-flex">
            <div class="d-flex flex-column">
              <div style="position: absolute; top: 70px; left: 140px" class="">
                <button id="open-filter" class="btn btn-outline-secondary p-0 m-0">
                  Filter
                </button>
              </div>

              <div class="filter-section" style="display: none; margin-top: 65px">
                <form action="/allproducts" method="get">
                  <div class="side-filter" id="side-filter">
                    <h6 class="text"><u>Filter Options</u></h6>
                    <div class="filter-group d-flex flex-column">
                      <a href="/allproducts?new=on " for="all"  class="text-dark  filter p-0 d-flex justify-content-center" style="border: 1px solid #bdbdbdda; display: inline-block; padding: 1px; text-decoration: none; " ><input type="radio" name="all" style="display: none;" />All</a>
                      <!-- Male Categories -->
                      <h5>Male</h5>
                      <% if (malecategory && malecategory.subcategories && malecategory.subcategories.length> 0) { let
                        indexCounter = 0;
                        malecategory.subcategories.forEach(subcategory => { %>
                          <label for="male-subcategory<%= indexCounter %>" class="filter p-0 d-flex justify-content-center" style="border: 1px solid #bdbdbdda; display: inline-block;  ">
                            <input type="radio" id="male-subcategory<%= indexCounter %>" name="category" value="<%= subcategory.name %>"  />
                            <%= subcategory.name %>
                          </label>
                          <% indexCounter++; }); } %>
                        
                        <h5>Women</h5>
                        <% if (femalecategory && femalecategory.subcategories && femalecategory.subcategories.length > 0) {
                          let indexCounter = 0;
                          femalecategory.subcategories.forEach(subcategory => { %>
                            <label for="female-subcategory<%= indexCounter %>" class="filter p-0 d-flex justify-content-center" style="border: 1px solid #bdbdbdda; display: inline-block;  ">
                              <input type="radio" id="female-subcategory<%= indexCounter %>" name="category" value="<%= subcategory.name %>"  />
                              <%= subcategory.name %>
                            </label>
                            <% indexCounter++; }); 
                        } %>
                        

                              <!-- Add more checkboxes for categories -->
                    </div>
                    <div class="filter-group">
                      <h4>Price Sort:</h4>
                      <select class="form-control" name="priceSort">
                        <option value="asc" class="m-0 p-0">Low to High</option>
                        <option value="desc" class="m-0 p-0">High to Low</option>
                      </select>
                    </div>

                    <button class="mt-2 btn btn-dark" id="apply-filter" type="submit">
                      Apply
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div class="row rowproduct w-100 justify-content-around d-flex  ">

              <div class="row  w-100 justify-content-around d-flex " style="min-height: 75vh;">

                <% for(let i=0; i < product.length;i++) { %>
                  <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center mt-3">
                    <div class="product-grid d-flex flex-column">
                      <div class="product-image d-flex justify-content-center align-content-center">
                        <a href="/productview/<%=product[i]._id%>" class="image d-flex">
                          <img src="/uploads/<%=product[i].images[0]%>" style="width: 223px; height: 319px" />
                        </a>
                        <ul class="product-links">
                          <li>
                            <a href="#"><i class="fas fa-heart"></i></a>
                          </li>
                        </ul>
                      </div>
                      <div class="product-content">
                        <h3 class="title"><a href="#">
                            <%=product[i].title%>
                          </a></h3>
                        <div class="price">₹ <%=product[i].price%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }; %>
              </div>
              <div class="d-flex mt-2">

                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <% if (currentPage> 1) { %>
                        <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                        <% } else { %>
                          <span class="page-link disabled">Previous</span>
                          <% } %>
                    </li>
                    <% for(let i=1; i <=totalPages; i++) { %>
                      <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>">
                          <%= i %>
                        </a>
                      </li>
                      <% } %>
                        <li class="page-item">
                          <% if (currentPage < totalPages) { %>
                            <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                            <% } else { %>
                              <span class="page-link disabled">Next</span>
                              <% } %>
                        </li>
                  </ul>
                </nav>

              </div>
            </div>

          </div>




        </div>
        <%- include('layout/footnav.ejs')%>
      </div>

      <style>
        label.filter {
  border: 1px solid #bdbdbdda;
}

label.filter.selected {
  border: 1px solid #000;
}

      </style>

      
      <script>

const menuOpenBtn = document.querySelector("#menu-btn");
        const menu = document.querySelector("#menubar");
        const menuclosebtn = document.querySelector("#menuclose_btn");
        const overlay = document.getElementById("overlay_menu");
        const add_cart = document.getElementById("add_cart");

        menuOpenBtn.addEventListener("click", openMenu);
        menuclosebtn.addEventListener("click", closeMenu);
        overlay.addEventListener("click", closeMenu);
        add_cart.addEventListener("click", openMenu);

        function openMenu() {
          menu.classList.add("open");
          overlay.style.display = "block"; // Show the overlay
          document.body.classList.add("no-scroll");
        }

        function closeMenu() {
          menu.classList.remove("open");
          overlay.style.display = "none"; // Hide the overlay
          document.body.classList.remove("no-scroll");
        }
      </script>

      

      <script src="/javascript/allproducts.js"></script>

</div>


<%- include('layout/footer.ejs')%>
