<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  
  <title>Ours.</title>
</head>

<body>
  <%- include('layout/navbar.ejs')%>

    <%- include('layout/usermodals.ejs')%>





      <!-------------           Proceed to checkout        -------------->



      <!-- <button data-toggle="modal" data-target="#checkOutmodal">Proced to checkout</button> -->
      <div class="w-100 d-flex justify-content-center align-items-center">

        <div class="w-75">
          <form class="w-100"  action="/confirm-order" onsubmit="event.preventDefault(); confirmOrder()" method="post"
            id="checkoutForm">

            <div>
              <div class="d-flex justify-content-center checkout">
                <div class="w-100">

                  <div class="p-0 w-100">
                    <div class="main-page1  w-100" id="main-page1">
                      <div class="main-page d-flex  w-100 ">

                        <div class="rounded-left text-white "
                          style="width: 50%; height: 36rem; background-color: #343a40;">
                          <div id="shipping-address " >
                            <div class="card rounded-0  bg-gradient bg-secondary text-black-50">
                              <div class="card-header">
                                <h4>Shipping Address</h4>
                              </div>
                            </div>
                            <div class="chekout-body1 w-100">
                              <div class="checkout-head1 w-100 d-flex  justify-content-center">
                                <h5 class="fw-light">SELECT ADDRESS</h5>
                              </div>
                              <div class="checkout-page h-100  w-100" id="page1">
                                <div class="page1-body m-1">
                                  <% if(user && user.address.length> 0) { %>
                                    <% user.address.forEach(address=> { %>
                                      <div class="text-monospace " style="margin-left: 5rem; margin-right: 5rem;">
                                        <label class=" addressLabels d-flex justify-content-around"
                                          for="addressRadio<%= address._id %>"
                                          style="border: #7777 2px solid; border-radius: 5px;">
                                          <input type="radio" required id="addressRadio<%= address._id %>"
                                            name="selectedAddress" value="<%= address._id %>" style="display: none;">
                                          <div class="address-details">
                                            <div class="d-flex justify-content-start">
                                              <h5 class="">
                                                <%= address.name %>
                                              </h5>
                                            </div>
                                            <p>
                                              <%= address.house %>, <%= address.city %>, <%= address.district %>, <%=
                                                      address.state %>,<br>
                                                      <%= address.post %>, <%= address.contact %>
                                            </p>
                                          </div>
                                        </label>
                                      </div>
                                      <% }) %>
                                        <% } %>
                                          <div class="mt-1">
                                            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressModal" id="new-address"  
                                              title="ADD ADDRESS"><i class='bx bx-plus-circle'></i>Add
                                              address</a>
                                          </div>
                                </div>
                                <div >
                                  <hr>


                                </div>
                              </div>
                              <div class="checkout-page w-100 h-100" id="page2">
                                <!-- Content of the second page -->
                                <div class="h-75">
                                  <div class="d-flex  justify-content-center">
                                    <h6 class="fw-light">Please select payment method to complete the order
                                    </h6>
                                  </div>
                                  <div class="d-flex justify-content-around mt-2">
                                    <div class="d-flex justify-content-center text-white rounded p-1 option"
                                      data-option="cash" style="width: 200px; background: #1d1d1d;">
                                      <h5>Cash on Delivery</h5>
                                      <input type="radio" required name="selectedPaymentOption" value="COD"
                                        id="cashRadio" style="display: none;">
                                    </div>
                                    <div class="d-flex text-white justify-content-center rounded p-1 option"
                                      data-option="card" style="width: 200px; background: #1d1d1d;">
                                      <h5>Pay via Online</h5>
                                      <input type="radio" required name="selectedPaymentOption" value="ONLINE"
                                        id="cardRadio" style="display: none;">
                                    </div>
                                  </div>
                                </div>
                                <div class="foot d-flex justify-content-center mt-2">
                                  <button class="btn btn-secondary" disabled id="confirmBtn" type="submit"
                                   >Confirm
                                    Order</button>
                                </div>
                              </div>
                            </div>
                          </div>








                          
                        </div>

                        <!-- order address -addd -->




                        <div class="bg-secondary rounded-right  text-black" style="width:50%; height: 36rem; ">
                          <div class="card   bg-dark rounded-0 bg-gradient text-capitalize text-white-50">
                            <div class="card-header">
                              <h4>order summary</h4>
                            </div>
                          </div>
                          <div class="chekout-body2 w-100  ">

                            <div class="  p-1 justify-content-center " style=" overflow-y: auto;height: 22.2rem;">
                              <% let subtotal=0; %>
                                <% for (const cartItem of cartitems) { %>
                                  <% const product=cartItem.cartitems; %>
                                    <div class="col-md-12 mb-1 w-100 d-flex text-black justify-content-center ">
                                      <div class="row d-flex  align-items-center w-100"
                                        style=" background-color: #C0C0C0; border-radius: 5px;">
                                        <input type="hidden" name="productId" value="<%=product._id%>">
                                        <div class="col-3 bill-img d-flex justify-content-start "
                                          style=" object-fit: cover;">
                                          <img src="/uploads/<%= product.images[0] %>" alt=""
                                            class="bg-light w-75 rounded" style="width: 100%;">
                                        </div>
                                        <div class="col-9 p-0 m-0 bill-details">
                                          <p>
                                            <%= product.title %>
                                          </p>


                                          <p class="" style="font-size: 12px;">Size : <%= product.size %>
                                          </p>
                                          <p class="" style="font-size: 12px;">Color : <%= product.color %>
                                          </p>
                                          <p class="" style="font-size: 12px;">Price: <%= product.price %>
                                          </p>
                                          <p class="" style="font-size: 12px;">Quantity: <%= product.quantity %>
                                          </p>
                                          <input type="hidden" name="qty" value="<%= product.quantity %>" id="">
                                          <input type="hidden" name="price" id="" value="<%= product.price %>">
                                        </div>
                                        <% subtotal +=product.price * product.quantity; %>
                                      </div>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="d-flex justify-content-center"
                              style="height: 10rem; background-color: #DCDCDC;">
                              <div>
                                <%const prevTotal=subtotal%>
                                  <input type="hidden" id="prevTotal" value="<%= prevTotal %>">
                                  <div class="text-center">
                                    <p class="mb-0 font-monospace" id="discount"><b></b>
                                    </p>
                                  </div>
                                  <input type="hidden" id="discountinput" name="discountinput" value="">
                                  <div class="bill-total d-flex justify-content-center">
                                    <p class="p-0 mt-0 pt-0 font-monospace" id="subtotal"><b>Subtotal: ₹ <%= subtotal %></b></p>
                                    <input type="hidden" name="totalamount" value="<%= subtotal %>" id="totalamount">
                                  </div>
                                  <div
                                    class="h-25 d-flex flex-column justify-content-center align-items-center p-3 pb-1">
                                    <div class="d-flex align-items-center">
                                      <input type="text" id="coupon" name="coupon" placeholder="Enter your coupon code"
                                        style="outline: 0;">
                                      <button class="btn btn-dark p-0 ml-2 pr-1 pl-1" id="applyCouponBtn"
                                        type="button">Apply</button>
                                    </div>
                                  </div>
                                  <!-- <input type="hidden" name="couponCode" id="couponCode"> -->
                                  <div class="w-100 d-flex justify-content-center">
                                    <p class="text-success" id="alert_tag"></p>
                                  </div>
                              </div>
                            </div>
                          </div>

                        </div>


                      </div>

                      <!-- <div class="checkout-body main-page2" id="main-page2" style="display: none;">
    
                  <div class="d-flex flex-column justify-content-center w-100 h-100 text-warning align-items-center">
                    <div>
                      <h3>Congratulation your Order is Confirmed</h3>
                    </div>
                    <div><img src="/images/gift-svgrepo-com.svg" alt="" style="width: 60px;"></div>
    
                  </div>
    
    
                  <div class="d-flex justify-content-center mt-5"><a class="btn btn-successs" href="/myorders">See Orders</a></div>
    
                </div> -->
                    </div>



                  </div>
                </div>
              </div>

          </form>

        </div>


      </div>






      <!-- <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Congratulations!</h1>
            </div>
            <div class="modal-body d-flex justify-content-center">
              <h5 class="text-warning">Your order has been confirmed. Thank you for shopping with us!</h5>

              <div class="d-flex justify-content-center">
                <p><a href="/myorders">YOUR ORDER</a></p>
              </div>
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div> -->

      <% for (const cartItem of cartitems) { %>
        <% const product=cartItem.cartitems; %>

          <div class="modal fade" id="myModal" tabindex="-1" data-bs-backdrop="static" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content py-md-5 px-md-4 p-sm-3 p-4">

                <h3 class="text-center">Notification</h3>
                <i class="fa fa-check text-center"></i>
                <p class="r3 px-md-5 px-sm-1 text-center text-monospace"><b>Congratulations! Your order has been successfully completed.</b>
                </p>


                <div class="text-center mb-3"> <button class="btn btn-warning w-50 rounded-pill b1"><a
                      class="text-white" href="/myorders">See Your orders</a></button> </div>

                <div class="text-center"><a class="text-dark" href="/">Countinue Shopping</a></div>
              </div>
            </div>
          </div>

          <% } %>





    

          <!-- /////// ADD ADDRESS -->



          <div class="modal fade " id="addressModal"  tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content bg-dark text-white-50">
                  <div class="modal-header">
                      <h5 class="modal-title" id="addressModalLabel">Add New Address</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                     
                  </div>
                  <div class="modal-body">
                    <form id="address_item" action="/add-address"  method="post" onsubmit="event.preventDefault(); addAddress()" style="outline: none;" >
                      <div class="d-flex justify-content-center ">
                        <div class="  d-flex justify-content-between " style="width: 76%;">
                            <label for="name">Full Name:</label>
                            <input type="text" id="name" name="name" placeholder="Full Name" required style="width: 77%;">
                        </div>
                      </div>
                      <div class="d-flex w-100 justify-content-around ">
                          <div>
                              <label for="">Address</label><br>
                              <input name="house" type="text" placeholder="eg: Abc house" required>
                          </div>
                          <div>
                              <label for="">Contact</label><br>
                              <input name="contact" type="tel" placeholder="eg: 9876543210" required>
                          </div>
                      </div>
                      <div class="d-flex w-100 justify-content-around ">
                          <div>
                              <label for="">Postel Code</label><br>
                              <input name="postel" type="text" placeholder="eg: 676090 " required>
                          </div>
                          <div>
                              <label for="">City</label><br>
                              <input name="city" type="text" placeholder="City eg: calicut" required>
                          </div>
                      </div>
                      <div class="d-flex w-100 justify-content-around ">
                          <div>
                              <label for="">State</label><br>
                              <input name="state" type="text" placeholder="State" required>
                          </div>
                          <div>
                              <label for="">District</label><br>
                              <input name="district" type="text" placeholder="District" required>
                          </div>
                      </div>
                      
                    
                      <div class="mt-2 text-end">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-success">Submit</button>
                     </div>
                   </form>
                  </div>
                
              </div>
          </div>
      </div>















            <style>
              @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');



              .modal-content {
                border-radius: 1rem;
              }


              /*  */

              .fa {
                color: #FFD700;
                /* Dark Yellow */

                font-size: 90px;
                padding: 30px 0px;
              }

              .b1 {
                background-color: #2b84be;
                box-shadow: 0px 4px #337095;
                font-size: 17px;
              }



              a,
              a:hover {
                text-decoration: none;
              }
            </style>


            <style>
              .selected {
                background-color: #2e8d6d !important;
              }

              .bill-details p {
                padding: 0;
                margin: 0%;
              }

              .hidden {
                display: none;
              }


              .page1-body {
                overflow-y: auto;
                max-height: 260px;

              }

              .chekout-body2 {
                width: 40%;
                overflow: auto;

              }

              .disabled {
                opacity: 0.5;
                /* Reduce opacity to indicate disabled state */
                pointer-events: none;
                /* Prevent interaction with the element */
              }
            </style>



            <script>
   function MainFormSubmit() {
    // Handle inner form submission here
    document.getElementById('checkoutForm').submit(); // Submit the inner form
}

              function confirmOrder() {
                $.ajax({
                  url: "/confirm-order",
                  method: "POST",
                  data: $('#checkoutForm').serialize(),
                  success: function (res) {
                    if (res.codSuccess) {
                      $('#myModal').modal('show');

                    } else if (res.razorSuccess) {
                      const order = {
                        "key": "" + res.key_id + "",
                        "amount": "" + res.amount + "",
                        "currency": "INR",
                        "name": "" + res.name + "",
                        "prefill": {
                          "contact": "" + res.contact + "",
                          "name": "" + res.name + "",
                          "email": "" + res.email + ""
                        },
                        "handler": function (response) {
                          // alert("paymentDone")
                          verifypayment()

                        },

                      }

                      const razorpay = new Razorpay(order);

                      const done = razorpay.open();

                    } else {
                      window.location.href = `/checkout`
                    }
                  },
                  error: function (err) {
                    console.log(err);
                  }
                })
              }

              function verifypayment() {
                $.ajax({
                  url: "/verify-payment",
                  method: "POST",
                  success: () => {
                    // window.location.href = "/myorders?ordersuccess=true"
                    $('#myModal').modal('show');
                  }
                })
              }


              ///////////////////////////////////////




    function addAddress() {
    const formData = $('#address_item').serialize(); // Serialize the form data

    fetch('/add-address', {
        method: 'POST',
        headers: {
            "Content-Type": "application/x-www-form-urlencoded", // Set the content type to URL-encoded
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        // Handle the response data here
        window.location.reload()
        console.log(data);
    })
    .catch(error => console.error('Error:', error));
}
              
            

            </script>

            <script>

              const addressRadios = document.querySelectorAll('input[name="selectedAddress"]');
              const confirmBtn = document.getElementById('confirmBtn');

              addressRadios.forEach(radio => {
                radio.addEventListener('change', () => {
                  // Reset border color for all labels
                  addressRadios.forEach(otherRadio => {
                    const label = otherRadio.parentElement;
                    label.style.borderColor = '#7777';
                  });

                  // Set border color for the selected label
                  if (radio.checked) {
                    const label = radio.parentElement;
                    label.style.borderColor = '#2e8d6d';
                    confirmBtn.disabled = false; // Enable the button when an address is selected
                  } else {
                    confirmBtn.disabled = true; // Disable the button if no address is selected
                  }
                });
              });













              const openBtn = document.querySelector("#cart-btn");
              const cart = document.querySelector("#sidecart");
              const closeBtn = document.querySelector("#close_btn");
              const overlaycart = document.getElementById("overlay_cart");

              // overlaycart.addEventListener('click',closeCart)
              openBtn.addEventListener("click", openCart);
              closeBtn.addEventListener("click", closeCart);

              function openCart() {
                cart.classList.add("open");
                overlaycart.style.display = "block";
                document.body.classList.add("no-scroll");
              }

              function closeCart() {
                cart.classList.remove("open");
                overlaycart.style.display = "none";
                document.body.classList.remove("no-scroll");
              }
            </script>
            <script>

              document.addEventListener("DOMContentLoaded", function () {
                const addressBtn = document.getElementById("new-address");
                const profileSection = document.getElementById("shipping-address");
                const addressSection = document.getElementById("new-addressSection");
                const profileBtn = document.getElementById("profile_btn");


                addressBtn.addEventListener("click", function (event) {
                  event.preventDefault(); // Prevent any default link behavior
                  profileSection.classList.add("hidden"); // Hide the profile section
                  addressSection.style.display = "block"; // Show the address section
                });


                profileBtn.addEventListener("click", function () {
                  profileSection.classList.remove("hidden"); // Show the profile section
                  addressSection.style.display = "none"; // Hide the address section
                });
              });








              const menuOpenBtn = document.querySelector("#menu-btn");
              const menu = document.querySelector("#menubar");
              const menuclosebtn = document.querySelector("#menuclose_btn");
              const overlay = document.getElementById("overlay_menu");
              const add_cart = document.getElementById('add_cart')


              menuOpenBtn.addEventListener("click", openMenu);
              menuclosebtn.addEventListener("click", closeMenu);
              overlay.addEventListener('click', closeMenu)
              add_cart.addEventListener('click', openMenu)


              function openMenu() {
                menu.classList.add("open");
                overlay.style.display = "block"; // Show the overlay
                document.body.classList.add("no-scroll");
              }

              function closeMenu() {
                menu.classList.remove("open");
                overlay.style.display = "none"; // Hide the overlay
                document.body.classList.remove("no-scroll");
              }






            </script>


            <script>
              document.addEventListener("DOMContentLoaded", function () {
                const continueButton = document.getElementById("continueBtn");
                const page1 = document.getElementById("page1");
                const page2 = document.getElementById("page2");
                const addressnav = document.getElementById('addressnav')
                const paymentnav = document.getElementById('paymentnav')


                addressnav.addEventListener('click', function () {
                  page1.style.display = "block"; // show page 1
                  page2.style.display = "none"; // hide page 2

                  paymentnav.classList.remove('disabled')

                  addressnav.classList.add('disabled')
                })



                continueButton.addEventListener("click", function () {
                  page1.style.display = "none"; // Hide page 1
                  page2.style.display = "block"; // Show page 2
                  paymentnav.classList.add('disabled')
                  addressnav.classList.remove('disabled')


                  paymentnav.addEventListener('click', function () {

                    page1.style.display = "none"; // hide page 1
                    page2.style.display = "block"; // show page 2
                    addressnav.classList.remove('disabled')
                    paymentnav.classList.add('disabled')
                  })
                });


              });





              //////////////////////////////////////////////




              // document.getElementById('applyCouponBtn').addEventListener('click', function () {
              //   var couponCode = document.getElementById('coupon').value;
              //   document.getElementById('couponCode').value = couponCode;
              // });




              document.getElementById('applyCouponBtn').addEventListener('click', async () => {
                const selectedCoupon = document.getElementById('coupon').value;
                const totalamountInput = document.getElementById('totalamount');
                const prevTotal = document.getElementById('prevTotal').value

                
                const discountElement = document.getElementById('discount');
                const  subtotalElement=document.getElementById('subtotal');
                subtotalElement.style.fontFamily = '"Courier New", monospace';
                discountElement.style.fontFamily = '"Courier New", monospace';
                const discountInput = document.getElementById('discountinput');
                


                // Send a request to your server to apply the selected coupon
                const response = await fetch('/apply-coupon', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ couponCode: selectedCoupon, total: totalamountInput.value, prevtotal: prevTotal }),
                });

                const data = await response.json();

                console.log(data)
                if (data.success) {
                  // Update the displayed subtotal with the discounted price
                  document.getElementById('subtotal').innerHTML = `<b>Subtotal: ₹ ${data.discountedPrice}</b>`;
                  totalamountInput.value = data.discountedPrice; // Update the totalamount field
                  document.getElementById('alert_tag').innerHTML = `${data.message}`;
                  
                  discountElement.innerHTML=`<b>Discount: ₹ ${data.discount}<b>`;

                    
                discountInput.value = data.discount;

                } else {
                  // Display an error message for invalid coupons
                  document.getElementById('alert_tag').innerHTML = `${data.message}`;
                }
              });




              document.addEventListener("DOMContentLoaded", function () {
                const orderconfirmbtn = document.getElementById('confirmBtn');
                const mainPage1 = document.getElementById('main-page1');
                const mainPage2 = document.getElementById('main-page2');


                orderconfirmbtn.addEventListener('click', function () {
                  mainPage1.style.display = "none";
                  mainPage2.style.display = "block";
                })

              })







              document.addEventListener("DOMContentLoaded", function () {

                const cashDiv = document.querySelector('[data-option="cash"]');
                const cardDiv = document.querySelector('[data-option="card"]');
                const paymentbutton = document.getElementById('paymentbutton')
                const address = document.getElementById('')

                // Get the radio buttons
                // const cashRadio = document.getElementById('cashRadio');
                // const cardRadio = document.getElementById('cardRadio');

                // Function to update the selected div's style
                function updateSelectedStyle(selectedDiv, unselectedDiv) {
                  selectedDiv.classList.add('selected');
                  unselectedDiv.classList.remove('selected');
                }

                // Add click event listeners to the divs
                cashDiv.addEventListener('click', () => {
                  cashRadio.click(); // Trigger the radio button click
                  updateSelectedStyle(cashDiv, cardDiv);
                });

                cardDiv.addEventListener('click', () => {
                  cardRadio.click(); // Trigger the radio button click
                  updateSelectedStyle(cardDiv, cashDiv);
                  paymentbutton.style.display = 'block';

                });

                // Initially select the 'cash' option and update the style
                updateSelectedStyle(cashDiv, cardDiv);
                cashRadio.checked = true;
              });

            </script>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->

            <!-- Include jQuery library -->
            <script src="/javascript/adminscript.js"></script>

            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
              crossorigin="anonymous"></script>
           
          
</body>

</html>