<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="icon" type="image/x-icon" href="/images/ours-logos.jpeg">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <title>Ours.</title>
</head>

<body>
  <%- include('layout/navbar.ejs')%>

    <%- include('layout/usermodals.ejs')%>





      <!-------------           Proceed to checkout        -------------->



      <!-- <button data-toggle="modal" data-target="#checkOutmodal">Proced to checkout</button> -->
      <div class="d-block w-100">
        <div class="w-100 d-flex flex-column justify-content-center align-items-center">
          <div class="w-75">
            <form class="w-100" action="/confirm-order" onsubmit="event.preventDefault(); confirmOrder()" method="post"
              id="checkoutForm">
              <div>
                <div class="d-flex justify-content-center checkout">
                  <div class="w-100">
                    <div class="p-0 w-100">
                      <div class="main-page1  w-100" id="main-page1">
                        <div class="main-page   w-100 ">
                          <div class="rounded-left text-white "
                            style=" height: 36rem; background-color: #343a40;">
                            <div id="shipping-address ">
                              <div class="card rounded-0  bg-gradient bg-secondary text-black-50">
                                <div class="card-header">
                                  <h4>Shipping Address</h4>
                                </div>
                              </div>
                              <div class="chekout-body1 w-100">
                                <div class="checkout-head1 w-100 d-flex  justify-content-center">
                                  <h5 class="fw-light">SELECT ADDRESS</h5>
                                </div>
                                <div class="checkout-page h-100  w-100" id="page1">
                                  <div class="page1-body m-1">
                                    <% if(user && user.address.length> 0) { %>
                                      <% user.address.forEach(address=> { %>
                                        <div class="text-monospace mb-1" style="height:100px ; margin-left: 3rem; margin-right: 3rem;">
                                          <label class=" addressLabels d-flex justify-content-center"
                                            for="addressRadio<%= address._id %>"
                                            style="border: #7777 1.5px solid; border-radius: 5px;">
                                            <input type="radio" required id="addressRadio<%= address._id %>"
                                              name="selectedAddress" value="<%= address._id %>" style="display: none;">
                                            <div class="address-details">
                                              <div class="d-flex justify-content-start">
                                                <h5 class="">
                                                  <%= address.name %>
                                                </h5>
                                              </div>
                                              <p>
                                                <%= address.house %>, <%= address.city %>, <%= address.district %>, <%=
                                                        address.state %>,<br>
                                                        <%= address.post %>, <%= address.contact %>
                                              </p>
                                            </div>
                                          </label>
                                        </div>
                                        <% }) %>
                                          <% } %>
                                            <div class="mt-1">
                                              <a type="button" class="btn btn-warning text-black-50 p-0" data-bs-toggle="modal"
                                                data-bs-target="#addressModal" id="new-address" title="ADD ADDRESS"><i
                                                  class='bx bx-plus-circle'></i>
                                                address</a>
                                            </div>
                                  </div>
                                  <div>
                                    <hr>
                                  </div>
                                </div>
                                <div class="checkout-page w-100 h-100" id="page2">
                                  <!-- Content of the second page -->
                                  <div class="h-75">
                                    <div class="d-flex  justify-content-center">
                                      <h6 class="fw-light">Please select payment method to complete the order
                                      </h6>
                                    </div>
                                    <div class="d-flex justify-content-around mt-2">
                                      <div class="d-flex justify-content-center text-white rounded p-1 option"
                                        data-option="cash" style="width: 200px; background: #1d1d1d;">
                                        <h5>Cash on Delivery</h5>
                                        <input type="radio" required name="selectedPaymentOption" value="COD"
                                          id="cashRadio" style="display: none;">
                                      </div>
                                      <div class="d-flex text-white justify-content-center rounded p-1 option"
                                        data-option="online" style="width: 200px; background: #1d1d1d;">
                                        <h5>Pay via Online</h5>
                                        <input type="radio" required name="selectedPaymentOption" value="ONLINE"
                                          id="onlineRadio" style="display: none;">
                                      </div>
                                    </div>
                                    <%if(user.wallet.balance>0){%>
                                      <div class="text-center">
                                        <input type="checkbox" name="wallet" id="wallet" value="<%=user.wallet.balance%>"
                                          disabled>
                                        <span>Your wallet: ₹ <%=user.wallet.balance%></span>
                                      </div>
                                      <%}%>
                                  </div>
                                  <div class="foot d-flex justify-content-center mt-2">
                                    <button class="btn btn-secondary" disabled id="confirmBtn" type="submit">Confirm
                                      Order</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- order address -addd -->
                          <div class="bg-secondary rounded-right  text-black" style=" height: 36rem; ">
                            <div class="card   bg-dark rounded-0 bg-gradient text-capitalize text-white-50">
                              <div class="card-header">
                                <h4>order summary</h4>
                              </div>
                            </div>
                            <div class="chekout-body2 w-100  ">
                              <div class="  p-1 justify-content-center " style=" overflow-y: auto;height: 22.2rem;">
                                <% let Total=0; %>
                                  <% for (const cartItem of cartitems) { %>
                                    <% const product=cartItem.cartitems; %>
                                      <div class="col-md-12 mb-1 w-100 d-flex text-black justify-content-center ">
                                        <div class="row d-flex  align-items-center w-100"
                                          style=" background-color: #C0C0C0; border-radius: 5px;">
                                          <input type="hidden" name="productId" value="<%=product._id%>">
                                          <div class="col-3 bill-img d-flex justify-content-start "
                                            style=" object-fit: cover;">
                                            <img src="/uploads/<%= product.images[0] %>" alt=""
                                              class="bg-light w-75 rounded" style="width: 100%;">
                                          </div>
                                          <div class="col-9 p-0 m-0 bill-details">
                                            <p>
                                              <%= product.title %>
                                            </p>
                                            <p class="" style="font-size: 12px;">Size : <%= product.size %>
                                            </p>
                                            <p class="" style="font-size: 12px;">Color : <%= product.color %>
                                            </p>
                                            <p class="" style="font-size: 12px;">Price: <%= product.price %>
                                            </p>
                                            <div class="d-flex justify-content-between">
                                              <p class="" style="font-size: 12px;">Quantity: <%= product.quantity %>
                                              </p>
                                              <p class="text-end fw-bold" style="font-size: 12px; margin-right: 2rem;">Subtotal: <%= product.quantity*product.price %>
                                              </p>
                                            </div>
                                            
                                            <input type="hidden" name="qty" value="<%= product.quantity %>" id="">
                                            <input type="hidden" name="price" id="" value="<%= product.price %>">
                                          </div>
                                          <% Total +=product.price * product.quantity; %>
                                        </div>
                                      </div>
                                      <% } %>
                              </div>
                              <div class="d-flex justify-content-center"
                                style="height: 10rem; background-color: #DCDCDC;">
                                <div>
                                  <%const prevTotal=Total%>
                                    <input type="hidden" id="prevTotal" name="prev" value="<%= prevTotal %>">
                                    <div class="text-center">
                                      <p class="mb-0 font-monospace" id="discount"><b></b>
                                      </p>
                                      <p class="mb-0 font-monospace" id="walletalert" value=""></p>
                                    </div>
                                    <input type="hidden" id="discountinput" name="discountinput" value="">
                                   
                                    <div class="bill-total d-flex justify-content-center">
                                      <p class="p-0 mt-0 pt-0 font-monospace" id="Total"><b>Total: ₹ <%= Total %>
                                            </b></p>
                                      <input type="hidden" name="totalamount" value="<%= Total %>" id="totalamount">
                                    </div>
                                    <div
                                      class="h-25 d-flex flex-column justify-content-center align-items-center p-3 pb-1">
                                      <div class="d-flex align-items-center">
                                        <input type="text" id="coupon" name="coupon" placeholder="Enter your coupon code"
                                          style=" border-radius: 10px; background-color: transparent;">
                                        <button class="btn btn-outline-dark   " id="applyCouponBtn"
                                          type="button" style="border-radius: 10px; margin-left: .2rem; letter-spacing: .2px; padding: 1px 5px 1px 5px;">Apply</button>
                                      </div>
                                    </div>
                                    <!-- <input type="hidden" name="couponCode" id="couponCode"> -->
                                    <div class="w-100 d-flex justify-content-center">
                                      <p class="text-success" id="alert_tag"></p>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
        <div class="w-100"><%- include('layout/footnav.ejs')%></div>
      </div>


      <% for (const cartItem of cartitems) { %>
        <% const product=cartItem.cartitems; %>

          <div class="modal fade" id="myModal" tabindex="-1" data-bs-backdrop="static" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content py-md-5 px-md-4 p-sm-3 p-4">

                <h3 class="text-center">Notification</h3>
                <i class="fa fa-check text-center"></i>
                <p class="r3 px-md-5 px-sm-1 text-center text-monospace"><b>Congratulations! Your order has been
                    successfully completed.</b>
                </p>


                <div class="text-center mb-3"> <button class="btn btn-warning w-50 rounded-pill b1"><a
                      class="text-white" href="/myorders">See Your orders</a></button> </div>

                <div class="text-center"><a class="text-dark" href="/">Countinue Shopping</a></div>
              </div>
            </div>
          </div>

          <% } %>






            <!-- /////// ADD ADDRESS -->



            <div class="modal fade " id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark text-white-50">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">Add New Address</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                      aria-label="Close"></button>

                  </div>
                  <div class="modal-body">
                    <form id="address_item" action="/add-address" method="post"
                      onsubmit="event.preventDefault(); addAddress()" style="outline: none;">
                      <div class="d-flex justify-content-center ">
                        <div class="  d-flex justify-content-between " style="width: 76%;">
                          <label for="name">Full Name:</label>
                          <input type="text" id="name" name="name" placeholder="Full Name" required style="width: 77%;">
                        </div>
                      </div>
                      <div class="d-flex w-100 justify-content-around ">
                        <div>
                          <label for="">Address</label><br>
                          <input name="house" type="text" placeholder="eg: Abc house" required>
                        </div>
                        <div>
                          <label for="">Contact</label><br>
                          <input name="contact" type="tel" placeholder="eg: 9876543210" required>
                        </div>
                      </div>
                      <div class="d-flex w-100 justify-content-around ">
                        <div>
                          <label for="">Postel Code</label><br>
                          <input name="postel" type="text" placeholder="eg: 676090 " required>
                        </div>
                        <div>
                          <label for="">City</label><br>
                          <input name="city" type="text" placeholder="City eg: calicut" required>
                        </div>
                      </div>
                      <div class="d-flex w-100 justify-content-around ">
                        <div>
                          <label for="">State</label><br>
                          <input name="state" type="text" placeholder="State" required>
                        </div>
                        <div>
                          <label for="">District</label><br>
                          <input name="district" type="text" placeholder="District" required>
                        </div>
                      </div>


                      <div class="mt-2 text-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>



           

            <script>


             







              document.getElementById('applyCouponBtn').addEventListener('click', async () => {
                const selectedCoupon = document.getElementById('coupon').value;
                const totalamountInput = document.getElementById('totalamount');
                const prevTotal = document.getElementById('prevTotal').value


                const discountElement = document.getElementById('discount');
                const subtotalElement = document.getElementById('Total');
                subtotalElement.style.fontFamily = '"Courier New", monospace';
                discountElement.style.fontFamily = '"Courier New", monospace';
                const discountInput = document.getElementById('discountinput');



                // Send a request to your server to apply the selected coupon
                const response = await fetch('/apply-coupon', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ couponCode: selectedCoupon, total: totalamountInput.value, prevtotal: prevTotal }),
                });

                const data = await response.json();

                console.log(data)
                if (data.success) {
                  // Update the displayed subtotal with the discounted price
                  document.getElementById('Total').innerHTML = `<b>Total: ₹ ${data.discountedPrice}</b>`;
                  totalamountInput.value = data.discountedPrice; // Update the totalamount field
                  document.getElementById('alert_tag').innerHTML = `${data.message}`;

                  discountElement.innerHTML = `<b>Discount: ₹ -${data.discount}<b>`;


                  discountInput.value = data.discount;

                } else {
                  // Display an error message for invalid coupons
                  document.getElementById('alert_tag').innerHTML = `${data.message}`;
                }
              });



              document.addEventListener("DOMContentLoaded", function () {
                const cashDiv = document.querySelector('[data-option="cash"]');
                const onlineDiv = document.querySelector('[data-option="online"]');
                const paymentbutton = document.getElementById('paymentbutton');


                // Get the radio buttons
                const cashRadio = document.getElementById('cashRadio');
                const onlineRadio = document.getElementById('onlineRadio');

                // Function to update the selected div's style
                function updateSelectedStyle(selectedDiv, unselectedDiv) {
                  selectedDiv.classList.add('selected');
                  unselectedDiv.classList.remove('selected');
                }

                // Add click event listeners to the divs
                cashDiv.addEventListener('click', () => {
                  cashRadio.click(); // Trigger the radio button click
                  updateSelectedStyle(cashDiv, onlineDiv);

                });



                onlineDiv.addEventListener('click', () => {
                  onlineRadio.click(); // Trigger the radio button click
                  updateSelectedStyle(onlineDiv, cashDiv);
                  paymentbutton.style.display = 'block';

                });

                // Initially select the 'cash' option and update the style
                updateSelectedStyle(cashDiv, onlineDiv);
                cashRadio.checked = true;

              });



              const onlinepay = document.querySelector('#onlineRadio');
              const cashpay = document.getElementById('cashRadio');
              const walletCheckbox = document.getElementById('wallet');

              onlinepay.addEventListener("click", () => {
                walletCheckbox.disabled = false

              })



              cashpay.addEventListener("click", () => {
                // walletCheckbox.style.display='none'
                walletCheckbox.disabled = true
                walletCheckbox.checked = false
              })


            </script>


            <script src="/javascript/script.js"></script>
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
              crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
              crossorigin="anonymous"></script>

</body>

</html>