<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/images/ours-logos.jpeg">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="/css/home.css" />

    <title>Ours.</title>
</head>

<body>
    <%- include('layout/usermodals.ejs')%> <%- include('layout/navbar.ejs')%>

            <div class="d-block w-100">
                <div class="d-flex w-100">
                    <div class="row">
                        <div class="col-md-3 col-lg-2 sidepanel">
                            <div class="header_myac d-flex flex-column justify-content-start">
                                <p class="hello" style="font-weight: 700; font-size: 1.7rem">
                                    Hello
                                    <span style="font-weight: 300; font-size: 1.5rem">
                                        <%=user.name%>
                                    </span>
                                </p>
                                <p style="font-size: 0.7rem; color: grey; font-weight: 500">
                                    <b>Wellcome to your Account</b>
                                </p>
                            </div>
                            <div class="body_myac">
                                <div class="text_myac">
                                    <div class="active">
                                        <a href="/myaccount"> <i class="bx bx-user"></i> My Account </a>
                                    </div>
                                    <div>
                                        <a href="/myorders"> <i class="bx bx-basket"></i> My Orders </a>
                                    </div>
                                    <div>
                                        <a href="/wishlist"><i class="bx bx-heart"></i>My Wishlist</a>
                                    </div>
                                    <div style="cursor: pointer">
                                        <a data-bs-toggle="modal" data-bs-target="#Modalsignoutuser">
                                            <i class="bx bx-log-out"></i> Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidepanel_fk  " style="width: 260px;"></div>
                    <div class="col-md-9 col-lg-10 user_info" id="profile">
                        <%if(user ){%>
                            <div class="row m-right rounded ">
                                <div class="col-md-3 offset-md p-0 m-0">
                                    <div class="card text-center">
                                        <div class="card-body p-0 m-0">
                                            <h5 class="card-title">Your Wallet</h5>
                                            <h1 class="display-4">₹ <%if(user.wallet.balance > 0){%>
                                                <%=user.wallet.balance%>
                                          <%  }else {%> 0.00
                                          <%}%>
                                            </h1>
                                            <p class="card-text">Available Balance</p>
                                            <!-- <a href="#" class="btn btn-primary">View Transactions</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <div class="page_head">
                                    <h3>My account</h3>
                                </div>
                                <div class="semi_head mb-3 d-flex justify-content-between">
                                    <h5>Contact Details</h5>
                                    <a href="" id="edit-profilebtn">Edit</a>
                                </div>
                                <div class="userinfo_list m-auto">
                                    <label for="">Your Name</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p>
                                            <%=user.name%>
                                        </p>
                                    </div>
                                    <hr />
                                    <label for="">Email Address</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p>
                                            <%= user.email %>
                                        </p>
                                    </div>
                                    <hr />
                                    <label for="">Phone Number</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p>
                                            <%=user.phone%>
                                        </p>
                                    </div>
                                    <hr />
                                    <label for="">Password</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p>********</p>
                                    </div>
                                    <hr />
                                </div>
                                <div class="semi_head mt-4 mb-3 d-flex justify-content-between align-items-center">
                                    <h5>Address</h5>
                                    <a href="" id="address_btn">Add new</a>
                                </div>
                                <% if (user.address && user.address.length> 0) { %>
                                    <div class="address_list" id="address_list">
                                        <div class="row">
                                            <% user.address.forEach(address=> { %>
                                                <div class="col-md-6">
                                                    <div class="add_list bg-light p-3">
                                                        <h3>
                                                            <%= address.name %>
                                                        </h3>
                                                        <p>
                                                            <%= address.contact %>
                                                        </p>
                                                        <p>
                                                            <%= address.house %>, <%= address.city %>, <%= address.district
                                                                        %>,<%= address.state %><br />
                                                                            <%=address.post%>
                                                        </p>
                                                        <div>
                                                            <button class="btn btn-outline-danger"
                                                                onclick="event.preventDefault();deleteAddress('<%=address._id%>')">
                                                                remove
                                                            </button>
                                                            <button class="btn btn-outline-primary" type="button"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#editAddressModal<%= address._id %>">
                                                                edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }); %>
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <!-- Display a message if no addresses are found -->
                                        <p>No addresses found.</p>
                                        <% } %>
                                            <!-- edit address----------------------------------------------- -->
                                            <% if (user.address && user.address.length> 0) { %> <%
                                                    user.address.forEach(address=> { %>
                                                    <!-- Your existing HTML code -->
                                                    <!-- Add new Bootstrap modal for editing addresses -->
                                                    <div class="modal fade" id="editAddressModal<%= address._id %>"
                                                        tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                                        aria-hidden="true" data-backdrop="static">
                                                        <div class="modal-dialog d-flex justify-content-center modal-dialog-centered"
                                                            role="document">
                                                            <div class="modal-content" style="width: 22rem">
                                                                <form action="/edit-address?Id=<%=address._id%>"
                                                                    method="post">
                                                                    <div class="modal-header text-center">
                                                                        <h4 class="modal-title w-100 font-weight-bold">
                                                                            Update Address
                                                                        </h4>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div
                                                                        class="modal-body d-flex justify-content-around flex-column mx-3">
                                                                        <input class="m-1" type="text"
                                                                            value="<%=address.name%>" name="name"
                                                                            placeholder="Name" id="editName" />
                                                                        <input class="m-1" type="tel"
                                                                            value="<%=address.contact%>" name="contact"
                                                                            placeholder="Contact" id="editContact" />
                                                                        <input class="m-1" type="text"
                                                                            value="<%=address.house%>" name="house"
                                                                            placeholder="Address" id="editHouse" />
                                                                        <input class="m-1" type="text"
                                                                            value="<%=address.city%>" name="city"
                                                                            placeholder="City" id="editCity" />
                                                                        <input class="m-1" type="text"
                                                                            value="<%=address.district%>" name="district"
                                                                            placeholder="District" id="editDistrict" />
                                                                        <input class="m-1" type="text"
                                                                            value="<%=address.state%>" name="state"
                                                                            placeholder="State" id="editState" />
                                                                        <input class="m-1" type="text"
                                                                            value="<%=address.post%>" name="post"
                                                                            placeholder="Post" id="editPost" />
                                                                    </div>
                                                                    <div class="modal-footer d-flex justify-content-center">
                                                                        <button type="submit" class="btn btn-unique">
                                                                            Save<i class="fas fa-paper-plane-o ml-1"></i>
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Your remaining HTML and template code -->
                                                    <% }); %>
                                                        <% } %>
                    </div>
                    <!-------------------------------------- for edit profile-------------------- -->
                    <div class="col-md-9 offset-md-3 col-lg-10 offset-lg-2" id="edit-profile" style="display: none;">
                        <div class="">
                            <div class="d-flex justify-content-center">
                                <h2>EDIT PROFILE</h2>
                            </div>
                            <form action="/update-profile" method="POST">
                                <div class="d-flex justify-content-between w-100">
                                    <label for="">Your Name</label>
                                    <div class="d-flex justify-content-end w-75 pr-2">
                                        <span id="editprofilecloseBtn"
                                            class="bg-danger d-flex justify-content-center align-items-center" style="
                        width: 20px;
                        height: 20px;
                        border-radius: 25%;
                        color: white;
                        cursor: pointer;
                      ">&times;</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input style="border: none" class="w-100" type="text" name="name"
                                        value="<%=user.name%>" />
                                </div>
                                <hr />
                                <label for="">Email Address</label>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input style="border: none" readonly name="email" class="w-100" type="text"
                                        value="<%= user.email %>" />
                                </div>
                                <hr />
                                <label for="">Phone Number</label>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input style="border: none" name="phone" class="w-100" type="text"
                                        value=" <%=user.phone%>" />
                                </div>
                                <hr />
                                <label for="">Password</label>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input style="border: none" name="password" class="w-100" value="******" />
                                </div>
                                <hr />
                                <div class="d-flex justify-content-center">
                                    <input  class="btn btn-danger " type="submit" value="SAVE" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- add addresss---------------------------------------------------------- -->
                    <div class="col-md-9 offset-md-3 col-lg-10 offset-lg-2" id="address" style="display: none;">
                        <div
                            class="address-section d-flex justify-content-center justify-content-around align-items-around mt-5">
                            <div class="address_body d-flex flex-column align-items-center justify-content-center">
                                <div class="d-flex justify-content-end w-100 pr-3">
                                    <span id="profile_btn"
                                        class="bg-danger d-flex justify-content-center align-items-center" style="
                      width: 20px;
                      height: 20px;
                      border-radius: 25%;
                      color: white;
                      cursor: pointer;
                    ">&times;</span>
                                </div>
                                <div class="add_address d-flex justify-content-center">
                                    <h2>ADD NEW ADDRESS</h2>
                                </div>
                                <form id="address_item" action="/add-address" method="post"
                                    onsubmit="event.preventDefault(); addAddress()">
                                    <div class="justify-content-between">
                                        <label for="">Full Name:</label><br />
                                        <input type="text" name="name" required style="width: 100%" />
                                    </div>
                                    <div class="d-flex w-100 justify-content-between">
                                        <div>
                                            <label for="">Address</label><br />
                                            <input name="house" type="text" required />
                                        </div>
                                        <div>
                                            <label for="">Contact</label><br />
                                            <input name="contact" type="tel" required />
                                        </div>
                                    </div>
                                    <div class="d-flex w-100 justify-content-between">
                                        <div>
                                            <label for="">Postel Code</label><br />
                                            <input name="postel" type="text" required />
                                        </div>
                                        <div>
                                            <label for="">City</label><br />
                                            <input name="city" type="text" required />
                                        </div>
                                    </div>
                                    <div class="d-flex w-100 justify-content-between">
                                        <div>
                                            <label for="">State</label><br />
                                            <input name="state" type="text" required />
                                        </div>
                                        <div>
                                            <label for="">District</label><br />
                                            <input name="district" type="text" required />
                                        </div>
                                    </div>
                                    <div class="w-100 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                
<!-- <script src="/javascript/script.js"></script> -->
<script src="/javascript/myaccounts.js"></script>
            <%- include('layout/footer.ejs')%>
</body>

</html>