<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="/images/ours-logos.jpeg">
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <!-- Bootstrap CSS -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>Ours.</title>
  </head>

  <body>
    <%- include('layout/usermodals.ejs')%> <%- include('layout/navbar.ejs')%>

    <div class="d-flex w-100">
      <div class="col-md-3 col-lg-2 sidepanel">
        <div class="header_myac d-flex flex-column justify-content-start">
          <p class="hello" style="font-weight: 700; font-size: 1.7rem">
            Hello
            <span style="font-weight: 300; font-size: 1.5rem">
              <%=user.name%>
            </span>
          </p>
          <p style="font-size: 0.7rem; color: grey; font-weight: 500">
            <b>Wellcome to your Account</b>
          </p>
        </div>
        <div class="body_myac">
          <div class="text_myac">
            <div>
              <a href="/myaccount"> <i class="bx bx-user"></i> My Account </a>
            </div>
            <div class="active">
              <a href="/myorders"> <i class="bx bx-basket"></i> My Orders </a>
            </div>
            <div>
              <a href="/wishlist"><i class="bx bx-heart"></i>My Wishlist</a>
            </div>
            <div>
              <a data-bs-toggle="modal" data-bs-target="#Modalsignoutuser">
                <i class="bx bx-log-out"></i> Sign Out</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="sidepanel_fk" style="width: 260px;"></div>

      <div class="col-md-9 col-lg-10 my-orders-list">
        <div class="w-100 h-100">
          <!-- <% console.log(orders)%> -->
          <section class="h-100 gradient-custom">
            <% if (orders.length> 0) { %>
            <div class="container py-5 h-100">
              <div
                class="row d-flex justify-content-center align-items-center h-100"
              >
                <div class="col-lg-10 col-xl-8">
                  <div class="card" style="border-radius: 10px">
                    <div class="card-header px-4 py-5">
                      <h5 class="text-muted mb-0">YOUR ORDERS</h5>
                    </div>
                    <div class="card-body p-4">
                      <% orders.forEach(order=> { %>
                      <div class="card shadow-0 border mb-4">
                        <div class="card-body">
                          <div class=" cardorders">
                            <div class="col text-center">
                              <p class="text-muted mb-0">
                                Order No: <%= order.orderNumber %>
                              </p>
                            </div>
                            <div
                              class="row d-flex flex-column align-items-center mb-3"
                            >
                              <% order.productDetails.forEach(product=> { %>
                              <!-- <div class="col-md-2">
                                                      <img src="/uploads/<%= product.images[0] %>"
                                                        class="img-fluid" alt="Product">
                                                    </div> -->

                              <!-- <div class="col-md-3 text-center"> -->
                              <div>
                                <p
                                  class="col text-muted mb-0"
                                  style="font-size: 12px"
                                >
                                  <%= product.title %>
                                </p>
                              </div>
                              <!-- <p class="text-muted mb-0 small">Color: <%= product.color %>
                                        </p>
                                        <p class="text-muted mb-0 small">Qty: <%= product.quantity %>
                                        </p> -->
                              <!-- </div> -->

                              <% }); %>
                            </div>
                            <div class="col-md-2 text-center">
                              <p class="text-muted mb-0 small">
                                ₹ <%= order.totalAmount %>
                              </p>
                            </div>
                            <div class="col-md-3 text-center">
                              <% const address=order.address[0]%>
                              <p class="text-muted mb-0 small">
                                Ship to: <%=address.name%>
                              </p>
                            </div>
                            <div
                              class="w-auto d-flex align-items-center flex-column"
                            >
                              <div class="mb-2">
                                <a
                                  class="btn btn-dark p-0 text-white-50"
                                  data-bs-toggle="modal"
                                  data-bs-target="#orderDetails<%= order._id %>"
                                  >Details</a
                                >
                              </div>

                              <div>
                                <% if(order.status === "cancelled" || order.status === "returned") { %>
                                  <!-- Code to be executed if order status is "cancelled" or "returned" -->
                                <% } else { %>
                                  <a class="btn btn-light p-0" href="/myorders/invoice/<%= order._id %>">Invoice</a>
                                <% } %>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="row d-flex align-items-center">
                            <div class="col-md-2">
                              <p class="text-muted mb-0 small">Track Order</p>
                            </div>
                            <div class="col-md-10">
                              <% if (order.status === "pending") { %>
                              <div
                                class="progress"
                                style="height: 6px; border-radius: 16px"
                              >
                                <div
                                  class="progress-bar"
                                  id="progressBar"
                                  role="progressbar"
                                  style="
                                    width: 15%;
                                    border-radius: 16px;
                                    background-color: #2b79df;
                                  "
                                  aria-valuenow="5"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <% } else if (order.status === "processing") { %>
                              <div
                                class="progress"
                                style="height: 6px; border-radius: 16px"
                              >
                                <div
                                  class="progress-bar"
                                  id="progressBar"
                                  role="progressbar"
                                  style="
                                    width: 30%;
                                    border-radius: 16px;
                                    background-color: #e7da21;
                                  "
                                  aria-valuenow="10"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <% } else if (order.status === "shipped") { %>
                              <div
                                class="progress"
                                style="height: 6px; border-radius: 16px"
                              >
                                <div
                                  class="progress-bar"
                                  id="progressBar"
                                  role="progressbar"
                                  style="
                                    width: 40%;
                                    border-radius: 16px;
                                    background-color: #fa9613;
                                  "
                                  aria-valuenow="25"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <% } else if (order.status === "out for delivery")
                              { %>
                              <div
                                class="progress"
                                style="height: 6px; border-radius: 16px"
                              >
                                <div
                                  class="progress-bar"
                                  id="progressBar"
                                  role="progressbar"
                                  style="
                                    width: 80%;
                                    border-radius: 16px;
                                    background-color: #7bcf37;
                                  "
                                  aria-valuenow="50"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <% } else if (order.status === "delivered") { %>
                              <div
                                class="progress"
                                style="height: 6px; border-radius: 16px"
                              >
                                <div
                                  class="progress-bar"
                                  id="progressBar"
                                  role="progressbar"
                                  style="
                                    width: 100%;
                                    border-radius: 16px;
                                    background-color: #1d774a;
                                  "
                                  aria-valuenow="100"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <% } else if (order.status === "cancelled") { %>
                              <div
                                class="progress"
                                style="height: 6px; border-radius: 16px"
                              >
                                <div
                                  class="progress-bar"
                                  id="progressBar"
                                  role="progressbar"
                                  style="
                                    width: 0%;
                                    border-radius: 16px;
                                    background-color: #b61e1e;
                                  "
                                  aria-valuenow="0"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <% }else{%>

                              <div
                                class="progress"
                                style="height: 6px; border-radius: 16px"
                              >
                                <div
                                  class="progress-bar"
                                  id="progressBar"
                                  role="progressbar"
                                  style="
                                    width: 0%;
                                    border-radius: 16px;
                                    background-color: #f7f7f7;
                                  "
                                  aria-valuenow="0"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>

                              <% } %>
                              <div class="d-flex justify-content-end mb-1">
                                <p
                                  class="mt-1 mb-0 small ms-xl-5 <%= order.status === 'delivered' ? 'text-success' : order.status === 'cancelled' ? 'text-danger' : '' %>"
                                  id="orderStatus"
                                >
                                  <%= order.status %>
                                </p>
                              </div>
                              <!-- <div class="d-flex justify-content-around"><a class="btn btn-outline-danger">Cancel</a>
                                                    <%if(order.status==="delivered"){%>
                                                      <a class="btn btn-outline-primary">Return</a>
                                                    <%}%>
                                                  </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <% }); %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <% orders.forEach(order => { %>
            <!-- Modal -->
            <div class="modal fade text-white" id="orderDetails<%= order._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content text-white" style="background-color: #5f6e8a; border-radius: 10px">
                  <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-white text-start px-4 pt-0 pb-4">
                    <div class="modal-orders d-flex">
                      <div class="col-md-2 text-center d-flex align-items-center justify-content-center">
                        <p class="text-white mb-0">
                          Order No: <%= order.orderNumber %>
                        </p>
                      </div>
                      <div class="row align-items-center mb-3">
                        <div class="col- d-flex flex-column align-items-center justify-content-center" style="width: 5rem">
                          <% order.productDetails.forEach((product, index) => { %>
                            <img id="image<%= index %>" style="
                              transition: transform 0.5s;
                              transform-origin: center;
                              width: 2.7rem;
                            " src="/uploads/<%=product.images[0] %>" class="img-fluid rounded" alt="Product"
                             
                            />
                          <% }); %>
                          
                        </div>
            
                        <div class="col-md text-center">
                          <% let quantity;%>
                            <% order.products.forEach((item)=>
                              { %> <% quantity=item.quantity %>
                                <% }) %>
                                  <% order.productDetails.forEach(product=> { %>
                                    <p class="text-white mb-0" style="font-size: 12px">
                                      <%= product.title %>
                                    </p>
                                    <p class="text-white mb-0 small">
                                      Color: <%= product.color %>
                                    </p>
                                    <!-- Assign the quantity value inside the loop -->
                                    <p class="text-white mb-0 small">
                                      price: ₹ <%=product.price%>, Qty: <%=quantity %>
                                    </p>
                                    <hr class="m-0">
            
                                    <% }); %>
                        </div>
                      </div>
                      <div class="col-md-3 text-center d-flex align-items-center justify-content-center">
                        <p class="text-white mb-0 small">
                          ₹ <%=order.totalAmount %>
                          <%if(order.discount){%>
                            (-<%=order.discount %>)
                          <%}%>
                        </p>
                      </div>
                      <div class="col-md text-center d-flex align-items-center justify-content-center">
                        <% const address=order.address[0] %>
                          <p class="text-white mb-0 small">
                            Ship to: <%= address.name %> <br />
                              <%= address.house %><br />
                                <%= address.city %>
                                  <%= address.district %>,<br />
                                    <%= address.state %>, <%= address.post %>,<%= address.contact %>
                          </p>
                      </div>
                    </div>
            
                    <div class="d-flex justify-content-around">
                      <p id="cancelptag"
                        class="d-flex justify-content-center rounded <%= order.status==='cancelled'? 'bg-danger w-100':'' %>">
                        <%= order.status %>
                      </p>
                      <% if (order.status==="pending" ) { %>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#refundmodal<%=order._id %>">
                          Cancel
                        </button>
                        <% } %>
                          <% if (order.status==="delivered" ) { %>
                            <% const orderDate=new Date(order.orderDate); %>
                              <% const currentDate=new Date(); %>
                                <% const timeDifference=currentDate - orderDate; %>
                                  <% const daysDifference=Math.floor(timeDifference / (1000 * 60 * 60 * 24)); %>
                                    <% if (daysDifference <=7) { %>
                                      <a id="retrun" onclick="returnRequest('<%=order._id%>')" class="btn btn-outline-warning">Return</a>
                                      <% } %>
                                        <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            


            <div class="modal fade" id="refundmodal<%= order._id %>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                <div class="modal-content " style="width: 300px;">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div>

                      <input type="radio" name="refund" id="" value="wallet">
                      <input type="radio" name="refund" id="" value="bank">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary"  onclick="cancelOrder('<%= order._id %>')">Open second modal</button>
                  </div>
                </div>
              </div>
            </div>






            <% }) %>
              <% } else { %>
                <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                  <div>
                <p>No orders found.</p>
              </div>
            </div>

            <% } %>
          </section>
        </div>

        
      </div>
    </div>


    <%- include('layout/footer.ejs')%>

    <script>
     

     const cancelvalue = document.getElementById("cancelptag");

     function cancelOrder(id, consumer) {
  fetch(`/cancel-order/${id}`, {
    method: "PATCH",
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ user: consumer, orderId: id })
  })
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json(); // Assuming the response is JSON. Adjust as needed.
  })
  .then(data => {
    window.location.href = "/myorders";
    // You can also perform other actions based on the response data if needed.
    // For example, if the response is JSON, you can access properties like data.someProperty
  })
  .catch(error => {
    console.error('Error cancelling order:', error);
  });
}


// function cancelOrder(id, consumer) {
//   $.ajax({
//     url: `/cancel-order/${id}`,
//     method: "PATCH",
//     data: { user: consumer, orderId: id },
//     success: (response) => {
//       window.location.href = "/myorders";
//     },
//     error: function (error) {
//       console.error("Error cancelling order:", error);
//     },
//   });
// }

// function returnRequest(id) {
//   $.ajax({
//     url: `/return-request/${id}`,
//     method: "PATCH",
//     success: (response) => {
//       window.location.reload()
//       // document.getElementById("cancelptag").innerHTML="return request"
//       // document.getElementById("return").remove();
//     },
//   });
// }

function returnRequest(id) {
  fetch(`/return-request/${id}`, {
    method: "PATCH",
  })
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json(); // Assuming the response is JSON. Adjust as needed.
  })
  .then(data => {
    window.location.reload();
    // You can also perform other actions based on the response data if needed.
    // For example, if the response is JSON, you can access properties like data.someProperty
  })
  .catch(error => {
    console.error('Error:', error);
  });
}

    </script>

<script src="/javascript/myorders.js"></script>
  

